html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: hsl(0 0% 98%);
  background: hsl(220 20% 14%);
}

input {
  padding: 1rem;
  border-radius: 2rem;
  border: none;
}

a {
  font-weight: 700;
  color: hsl(0 0% 98%);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}